autopep8
cycler
decorator
dicom
h5py
imageio
kiwisolver
matplotlib
networkx
numpy
opencv-python
opencv-python-headless
pandas
Pillow
pycodestyle
pyparsing
PyQt5
PyQt5-sip
python-dateutil
pytz
PyWavelets
scikit-image
scipy
six
tifffile
toml
torch
torchaudio
torchvision
typing-extensions
